/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.alert.alert-info {
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
}
.alert-link {
  color: #F5F5F5 !important;
}
.alert-link bold {
  color: #82C5FF;
}

/*
* Google Docs Jumbotron
*/
html,body {height:100%;}
.googledocs, .googledocs .jumbotron {height:100%;}