<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Melvrick Goh">
    <link rel="icon" href="../img/favicon.png">

    <title>CATE</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/cover.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
    	(function () {
		  'use strict';
		  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		    var msViewportStyle = document.createElement('style')
		    msViewportStyle.appendChild(
		      document.createTextNode(
		        '@-ms-viewport{width:auto!important}'
		      )
		    )
		    document.querySelector('head').appendChild(msViewportStyle)
		  }
		})();
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div class="floater">
              <h1>This is an example of embedding</h1>
              <iframe src="https://docs.google.com/spreadsheets/d/1TsA-9sJyqP8I99wd_vGw746owCis21-LETPwip-A9gg/pubhtml?widget=true&amp;headers=false"></iframe>
              
            </div>
            <p></p>
            <p></p>

     <div class="non-floater">
     <h1>This is an example of sharing</h1>
              <iframe src="https://docs.google.com/spreadsheets/d/1TsA-9sJyqP8I99wd_vGw746owCis21-LETPwip-A9gg/edit?usp=sharing"></iframe>
    </div>

    <!-- Bootstrap core JavaScript <script src="../../assets/js/docs.min.js"></script>
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
