<html>
<head>
  <title>Apache OpenNLP - Welcome to Apache OpenNLP</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="description" content="Apache OpenNLP is a Java machine learning toolkit for natural language processing (NLP). 
    It supports the most common NLP tasks.">
</head>

<body>
  
  <div id="content">
    <h1 class="title">Welcome to Apache OpenNLP</h1>
    <p>The Apache OpenNLP library is a machine learning based toolkit for the processing of natural language text.</p>
<p>It supports the most common NLP tasks, such as tokenization, sentence segmentation, part-of-speech tagging, named entity extraction, chunking, parsing, and coreference resolution.
These tasks are usually required to build more advanced text processing services. OpenNLP also includes maximum entropy and perceptron based machine learning.</p>
  </div>
  
  <div class="clear">
    <hr>
  </div>
    
  <div id="footer">
    <div class="copyright">
      <p>
        Copyright &copy; 2010 The Apache Software Foundation, Licensed under 
        the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
        <br>
        Apache OpenNLP, OpenNLP, Apache, the Apache feather logo, and the Apache OpenNLP project logo 
		are trademarks of The Apache Software Foundation. - <a href="/privacy-policy.html">Privacy Policy</a>
      </p>
    </div>
  </div>
</body>
</html>
